@font-face {
    font-family: 'Dited';
    src: url('Dited.eot');
    src: url('Dited.eot?#iefix') format('embedded-opentype'),
        url('Dited.woff2') format('woff2'),
        url('Dited.woff') format('woff'),
        url('Dited.ttf') format('truetype'),
        url('Dited.svg#Dited') format('svg');
    font-weight: normal;
    font-style: normal;
}

